.chat-main{
     width: calc(100% - 300px);

    &__header{
      box-sizing: border-box;
      height: 100px;
      padding: 0 40px;

         &__left{
          float: left;


             &__title{
              color: #333;
              font-size: 20px;
              margin-top: 35px;
              }
             ul{
              display: flex;
              color: #999;
              font-size: 12px;
              margin-top: 15px;
               }
              li{
                margin-left:5px;
              }


          }
         &__right{
          border: 1px solid #38AEF0;
          color: #38AEF0;
          float: right;
          height: 40px;
          line-height: 40px;
          margin-top:28px;
          padding: 0 20px;

            a{
              color: #38AEF0;
               text-decoration: none;
             }
          }
       }


    &__messages{
      background-color: #FAFAFA;
      box-sizing: border-box;
      height: calc(100vh - 100px - 90px);
      overflow: scroll;
      padding: 46px 40px 0;

      &__message{
       margin-bottom:40px;
         &__upper{display:flex;

          &__user-name{
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &__date{
            color: #999;
            font-size: 12px;
            padding-left: 10px;
        }

       }
       &__lower{
        margin-top:10px;
          &__content{
            color: #434a54;
            font-size: 14px;
            margin-bottom: 10px;}
       }

      }
   }



    &__form{
      background-color: #DDDDDD;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 50px 20px 40px;
      position:relative;
     .form{
      float:left;
       width:911px;
       height:50px;
       padding:0 10px;
       border:none;
      }
     .btn{
      color:white;
      background-color:#38AEF0;
      margin:14px;
      float:left;
      color: white;
      font-size:16px;
      border:none;
      padding:13px 30px;
      position:absolute;
      top:6px;right:36px;
      cursor: pointer;
     }
     &__picture{
      font-size:22px;
      position: absolute;
      top:29px; right:180px;
     }
    }

}
